.profile {
    text-align: center;

    button {
        height: 50px;
        width: 300px;
        background-color: green;
        border: solid transparent 1px;
        border-radius: 5px;
        color: white;
        font-size: 30px;
        cursor: pointer;
    }

    h1 {
        font-size: 40px;
        font-weight: bold;
        color: grey;
    }

    img {
        height: 250px;
        border: 5px solid black;
        border-radius: 50%;
    }

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 20px;
    }



}